#menu{
	display 		: flex;
	flex-direction 	: column;
	list-style 		: none;
	padding 		: 0px;
	height 			: 100vh;
	margin 			: 0px;
	background 		: url("../img/menu/homebg.png")  no-repeat center center fixed; 
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#menu li{
	flex-grow 		: 1;
	border 			: solid 0px black;
	text-align 		: center;
}

#circumnutation_link{
	border 			: solid 0px black;
	display 		: flex;
	flex-direction 	: column;
}

#circumnutation_link:hover, #circumnutation_link:active, #circumnutation_link:focus{
}

#gravitropism_link{
	display 		: flex;
	flex-direction 	: column;
}

#gravitropism_link:hover, #gravitropism_link:active #gravitropism_link:focus{
}

#dataAnalysis_link{
	
	display 		: flex;
	flex-direction 	: column;
}

#dataAnalysis_link:hover, #dataAnalysis_link:active, #dataAnalysis_link:focus{
}

#plantLiteracy_link{

	display 		: flex;
	flex-direction 	: column;
}

#plantLiteracy_link:hover, #plantLiteracy_link:active, #plantLiteracy_link:focus{
}

#HowTo_link{

	display 		: flex;
	flex-direction 	: column;
}

#HowTo_link:hover, #HowTo_link:active, , #HowTo_link:focus{
}

.navtitles{
	border 			: solid 0px black;
	flex-grow 		: 3;
	display 		: flex;
	flex-direction 	: column;
	padding 		: 5px;
}

.navtitle_1{
	border 			: solid 0px black;
	color 			: white;
	display 		: flex;
	flex-direction 	: column;
	flex-grow 		: 1;
	font-family 	: mont_semibold;
	font-weight 	: 800;
	font-size 		: 1.80em;
	justify-content	: flex-end;
	text-align 		: center;
	text-shadow 	: 1x 1px rgba(50,50,50,1);
}

.navtitle_2{
	border 			: solid 0px black;
	flex-grow 		: 1;
	display 		: flex;
	flex-direction 	: column;
	justify-content	: flex-start;
	font-family 	: mont_light;
	color 			: white;
	font-size 		: 0.80em;
	padding-top 	: 10px;
	text-shadow 	: 1x 1px rgba(50,50,50,1);
	text-align 		: center;
}	

.navarrow{
	flex-grow 		: initial;
	width 			: 50px;
	display 		: none;
	justify-content : center;
	align-items 	: center;
	color 			: white;
	font-size 		: 30pt;
	border 			: solid 0px black;
}

.navarrow i{
	color 			: white;
}

.static_bar{
		width: 19%;
		height: 5px;
		background-color: white;
		margin-left: 40.5%;
		transition: all 0.4s;
        -moz-transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -o-transition:all 0.4s;
	}
