#welcome_screen{
	width 					: 100vw;
	height 					: 100vh;
	background-image  	 	: url(../img/welcome/welcome_gradient.png);
	background-position 	: center;
    background-repeat 		: no-repeat;
    background-size 		: cover;
}

#welcome_pattern{
	width 					: 100vw;
	height 					: 100vh;
	background-image  	 	: url(../img/welcome/welcome_pattern.png);
	background-position 	: center;
    background-repeat 		: no-repeat;
    background-size 		: cover;

    display 				: flex;
    flex-direction 			: column;
    justify-content 		: center;
    align-items 			: center;
}

#welcome_loader{
	border	 				: solid 0px black;
	display 				: flex;
	flex-grow 				: 1.5;
	flex-direction 			: column;
	justify-content 		: flex-end;
}

#welcome_loader img{

	width 					: auto;
	height 					: 30px;
}

#welcome_logo{
	border	 				: solid 0px black;
	display 				: flex;
	flex-direction 			: column;

	justify-content 		: center;
	flex-grow 				: 1;
}

#welcome_logo img{
	width 					: 265px;
	height 					: 130px; 
}

#welcome_leaves{
	border	 				: solid 0px black;
	display 				: flex;
	flex-direction 			: column;
	justify-content 		: flex-end;
	flex-grow 				: 0.5;
}

#welcome_leaves img{
	width 					: 220px;
	height 					: 160px;
	
}

