@font-face{
	font-family 					: 'heroic';
	src								: url("../fonts/HeroicCondensed.ttf"), 
									  url("../fonts/HeroicCondensed.otf");
}

@font-face{
	font-family 					: mont_extrabold;
	src 							: url(../fonts/Montserrat-ExtraBold.ttf), url(../fonts/Montserrat-ExtraBold.otf);
}

@font-face{
	font-family 					: mont_extralight;
	src 							: url(../fonts/Montserrat-ExtraLight.ttf), url(../fonts/Montserrat-ExtraLight.otf);
}

@font-face{
	font-family 					: mont_light;
	src								: url(../fonts/Montserrat-Light.ttf), url(../fonts/Montserrat-Light.otf);
}

@font-face{
	font-family 					: mont_bold;
	src	 							: url(../fonts/Montserrat-Bold.ttf), url(../fonts/Montserrat-Bold.otf);
}

@font-face{
	font-family 					: mont_semibold;
	src 							: url(../fonts/Montserrat-SemiBold.ttf), url(../fonts/Montserrat-SemiBold.otf);
}